<div class="row">
  <div class="col-8 m-auto">
<form [formGroup]="formGroupAnuncio">

  <div class="mb-3">
    <label for="anunciante" class="form-label">Anunciante:</label>
    <input type="email" formControlName="anunciante" class="form-control" id="anunciante" placeholder="anunciante">
  </div>

  <div class="mb-3">
    <label for="tipo" class="form-label">Tipo do produto:</label>
    <input type="email" formControlName="tipo" class="form-control" id="tipo" placeholder="TV">
  </div>

  <div class="mb-3">
    <label for="preco" class="form-label">Preço:</label>
    <input type="email" formControlName="preco" class="form-control" id="preco" placeholder="1445.7">
  </div>

  <div class="mb-3">
    <label for="url" class="form-label">URL da Imagem:</label>
    <input type="email" formControlName="url" class="form-control" id="url" placeholder="link">
  </div>


  <div class="mb-3 d-flex justify-content-end">
    <button class="btn btn-primary" (click)="Save()">Salvar</button>
  </div>
</form>

<div class="container text-center row position-absolute " >
  <div class="col" *ngFor="let anuncio of anuncio">
   <div class="card " style="width: 18rem;">
     <h5 class="card-title ">{{anuncio.anunciante}}</h5>
     <img src={{anuncio.url}} class="card-img-top" id="img" alt="...">
     <div class="card-body">
       <h5 class="card-title">{{anuncio.tipo}}</h5>
       <p class="card-text">R$:{{anuncio.preco}}
       </p>
     </div>
  </div>
 </div>
  </div>
</div>


